<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eclipsesource.tabris.punch" version="0.0.1">
  <name>Punch-O-Matic</name>
  <description>
   iPhone, Punching Bag... Pure Fun!
  </description>
  <author email="dev@tabrisjs.com" href="https://tabrisjs.com">
   Tabris.js Team
  </author>
  <access origin="*" />

  <plugin name="cordova-plugin-device-motion" spec="1.2.1"/>
  <preference name="EnableDeveloperConsole" value="false"/>
</widget>
